/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital@1&family=Roboto:wght@500&family=Sofia&display=swap');


:root{
    --light-gray: #2b3032a1;
    --primary-color:#45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;


}
.primary-color{
    color:var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color);
}
.text-color{
    color:var(--text-color)
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: var(lightblue);
}

/*header*/


header{
    background-color:var(--primary-color)
}
header.site-title{
    font-family: var(--sofia);
}
.container.dropdown-toggle,
.container.dropdown-item{
    font-size:0.7em;
}
.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color:white
}
/* Navigation Menu**/

.navbar-nav{
    padding:0.8em 0em;
}

.navbar-nav.nav-link{
    font-size: 0.9em;
    color: var(--light-gray)!important;
}

.navbar-nav.nav-item.nav-link{
    padding: 0 1.3em;
}

.navbar-nav.basket-icon{
    margin-right:6.5rem !important;
}

.img-fluid{
    width: 1300px;
    height: 750px;
}
/*Slider one*/

.site-slider{
    position: relative;
}
.position-top{
    position:absolute;
    top:50%
}
.site-slider.slider-btn.prev,
.site-slider.slider-btn.next{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0.1rem;
    opacity: 0;
    transition: opacity;
}
.site-slider:hover.slider-btn.prev,
.site-slider:hover.slider-btn.next{
    opacity: 1;
}
.right-0{
    right: 0;
}
